@font-face {
    font-family : "Lato";
    src         : url("./assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight : 400;
}

@font-face {
    font-family : "Lato";
    src         : url("./assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight : 700;
}

body {
    font-family: "Lato", sans-serif;
    max-width: 1080px;
    margin: 0 auto;   
}


.topnav {
    margin-top: 48px;
    overflow: hidden;
    font-weight: 400;
    background-color: white;
}

.topnav a {
    color: #1B1B1B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    color: #e2429d;
}

.topnav a.active {
    color: #a0025c;
}

.topnav-right {
    float: right;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 10%;
}

.intro-content {
    line-height: 150%;
    font-weight: 500;
    font-size: 42px;
    margin: 0%;
}

.highlight {
    color: #a0025c;
}

.profile-image {
    margin-left: 5%;
    width: 35%;
    filter: grayscale(100%);
}